

.navbar-brand {
  font-size: 1.5rem;
  color: #0d6efd;
}

.nav-link {
  margin-left: 1rem;
  font-weight: 500;
  color: #333;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #0d6efd;
}

.navbar-toggler {
  border: none;
}

.main-content {
  padding: 2rem;
  background-color: #f1f3f5;
  min-height: calc(100vh - 70px); 
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: #fff;
}


.form-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #007bff;
}


.form-container button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.form-container button:hover {
  background-color: #0056b3;
}


.form-container p a {
  color: #007bff;
  text-decoration: none;
  transition: 0.3s;
}

.form-container p a:hover {
  text-decoration: underline;
}


.form-container .error-message {
  color: red;
  font-size: 12px;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px; 
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0056b3;
}


 
